<div class="file-list-container">
  <div class="file-quick-search">
    <div class="input-group" style="width:100%;">
      <!-- <div class="btn-group btn-group-justified overrideButtonStyles" role="group"> -->
      <!-- <a type="button" class="btn btn-default" ng-click="getSubmissionsList()"><i class="fa fa-user" tooltip-placement="right" uib-tooltip="Inactive individuals needing approval" ></i></a> -->
      <!-- <a type="button" class="btn btn-default"><i class="fa fa-user" tooltip-placement="top" uib-tooltip="Something else"></i></a> -->
      <!-- <a type="button" class="btn btn-default"><i class="fa fa-user" tooltip-placement="top" uib-tooltip="Another"></i></a> -->
      <!-- </div> -->
      <input class="form-control" type="text" ng-model="$ctrl.typeahead" ng-model-options="{debounce: 200}" ng-change="$ctrl.getAllFiles()" placeholder="Quick Search">
      <label class="input-group-addon" style="width:38px;" ng-click="searchKey = null; getNewList(); makeSelection({});" tooltip-placement="right" uib-tooltip="Add/Edit file">
        <i class="fa fa-times"></i>
      </label>
    </div>
  </div>
  <div class="file-list" vs-repeat>
    <div class="list" ng-repeat="item in $ctrl.files" ng-class="{'bg-info': $ctrl.selection.id === item.id}" ng-click="$ctrl.makeSelection(item)">
      <img src="{{$ctrl.baseURL + item.thumblink}}" alt="">
    </div>
  </div>
</div>
