.edit-file {
  display: flex;
  flex-direction: row;
  .item {
    display: flex;
    flex-direction: column;
    text-align: left;
    file-preview {
      display: flex;
      flex: 1 1 100%;
      flex-direction: row;
    }
  }
}
