@import '../../../common/styles/variables.css';
@import '../../../common/styles/typebase.css';

.auth {
  cursor: pointer;
  height: 48px;
  line-height: 48px;
  .authTriggerButton {
    display: inline-block;
    border: 0px;
    outline: none;
    box-shadow: 0px;
    background: transparent;
    padding: 0px;
    margin: 0px;
  }
  .authTriggerButton:hover {
    color: $linkBlue;
  }
}