.fh-files {
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  .fhdropzone {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    &.column {
      flex-direction: column;
      align-items: center;
    }
  }
}
