
  <div class="container-fluid">
    <button class="btn btn-default" ng-click="refreshData()"><i class="fa fa-refresh"></i>&nbsp;Refresh/Reload Data</button>
    <div class="form-group row">
      <div class="col-sm-12 initial" ng-show="profile_pic">
        <a ng-click="closeModal('/individual', {individual: person.id, tab: 'default'})" href="javascript:void(0);">
          <img ng-src="/{{profile_pic.viewlink}}" alt="Profile Picture" width="auto" height="150" style="border-radius:4px; border: 1px solid darkgray;">
        </a>
      </div>
      <div class="col-sm-12 initial" ng-show="!profile_pic">
        Upload a profile picture...
      </div>
      <div class="col-sm-12 initial" ng-show="isAdmin">
        <button class="btn btn-default" ng-show="person && person.status && person.status !== 'I'" ng-click="deactivateSubmission(person.id);">Deactivate Individual</button>
        <button class="btn btn-danger" ng-show="person && person.status && person.status !== 'A'" ng-click="activateSubmission(person.id);">Activate Individual</button>
      </div>
    </div>
    <form name="addAPersonForm" role="form" ng-submit="savePerson()" class="">
      <div class="form-group row">
        <div class="col-sm-6 initial">
          <label for="Name">Name Stuff: </label>
          <input style="width: auto;" class="form-control" ng-model="result.firstName" id="Name" placeholder="First Name" required/>
          <input style="width: auto;" class="form-control" ng-model="result.middleName" id="Name" placeholder="Middle Name" />
          <input style="width: auto;" class="form-control" ng-model="result.lastName" id="Name" placeholder="Last Name" required/>
        </div>
        <div class="col-sm-6 birth">
          <label for="Birth">Birth stuff: </label>
          <br>

          <date exact="exactBirthDate" ng-model="result.birthDate" is-required="true" start-view="2" has-error="false" max-date="maxBirth" auto-close="1" place-holder="'Birth Date'">
          </date>

          <place style="display:block;" is-custom="result.birthPlace.isCustom" ng-model="result.birthPlace"></place>

        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6 death">
          <label for="Death">Death stuff: </label>
          <br>

          <date exact="exactDeathDate" ng-model="result.deathDate" is-required="true" start-view="2" has-error="false" max-date="today" min-date="minDeath" auto-close="1" place-holder="'Death Date'">
          </date>

          <place style="display:block;" is-custom="result.deathPlace.isCustom" ng-model="result.deathPlace"></place>

        </div>
        <div class="col-sm-6 burial">
          <label for="Burial">Burial stuff: </label>
          <br>

          <date exact="exactBurialDate" ng-model="result.burialDate" start-view="2" has-error="false" max-date="today" min-date="minBurial" auto-close="1" place-holder="'Burial Date'">
          </date>

          <place style="display:block;" is-custom="result.burialPlace.isCustom" ng-model="result.burialPlace"></place>

        </div>
      </div>


      <div class="form-group row">
        <div class="col-sm-6 parent">
          <label for="Parents">Gender:</label>
          <br>
          <label for="Parents">Male:
            <input type="radio" ng-model="result.sex" name="gender" value="male" style="width: auto;" id="Parents" placeholder="Parents Stuff" />
          </label>
          <br>
          <label for="Parents">Female:
            <input type="radio" ng-model="result.sex" name="gender" value="female" style="width: auto;" id="Parents" placeholder="Parents Stuff" />
          </label>
        </div>
        <div class="col-sm-6 spouse">
          <label for="Spouse">Relationship to Michele or Marvin Law: </label>
          <input type="text" ng-model="result.relationship" class="form-control" id="relationship" placeholder="Relationship To Michele or Marvin Law" />
        </div>
      </div>


      <div class="form-group row">
        <div class="col-sm-6 parent">
          <label for="Parents">Parents:</label>
          <br>
          <div ng-repeat="item in result.parentList" style="width:auto; display:inline-block;">
            <span class="btn btn-primary">
              {{item.typeahead}}
              <span class="btn btn-default btn-xs" ng-click="removeParent(item.id)">
                <i class="fa fa-times"></i>
              </span>
            </span>
          </div>
          <input type="text" id="parents" ng-model="parents" typeahead-on-select='onSelectParent($item, $model, $label)' typeahead="individual as individual.typeahead for individual in getTypeahead($viewValue)" class="form-control" placeholder="Parent">
        </div>
        <div class="col-sm-6 spouse">
          <label for="Spouse">Spouse:</label>
          <br>
          <div ng-repeat="item in result.spouseList" style="width:auto; display:inline-block;">
            <spouse individual="person.id" ng-model="item" callback="removeSpouse()"></spouse>
          </div>
          <input type="text" id="spouse" ng-model="spouse" typeahead-on-select='onSelectSpouse($item, $model, $label)' typeahead="individual as individual.typeahead for individual in getTypeahead($viewValue)" class="form-control" placeholder="Spouse">
        </div>
      </div>
      <button class="btn btn-primary">Save</button>
    </form>
  </div>
