<div class="user">
  <div class="first_name">{{$ctrl.userInfo.first_name}}</div>
  <div class="last_name">{{$ctrl.userInfo.last_name}}</div> |
  <div class="username">{{$ctrl.userInfo.username}}</div> |
  <div class="email">{{$ctrl.userInfo.email}}</div> |
  <div class="password">{{$ctrl.userInfo.password}}</div> |
  <div class="rights">{{$ctrl.userInfo.rights}}</div> |
  <div class="last_loggedin">{{$ctrl.userInfo.last_loggedin}}</div> |
  <div class="status">{{$ctrl.userInfo.status}}</div> |
  <div class="valid">{{$ctrl.userInfo.valid}}</div> |
  <div class="other_comments">{{$ctrl.userInfo.other_comments}}</div> |
  <div class="gender">{{$ctrl.userInfo.gender}}</div> |
  <div class="company_position">{{$ctrl.userInfo.company_position}}</div>
  <!-- <button ng-click="$ctrl.actionCallback({ action: 'test', info: $ctrl.userInfo });"> -->
    <!-- TEST THIS -->
  <!-- </button> -->
</div>
