<div class="container-fluid editIndividual">
  <div ng-show="!result || !result.id" class="bg-primary editMsg">
    NOTE: You are now creating a new individual
  </div>
  <div ng-show="!(!result || !result.id)" class="bg-info editMsg">
    NOTE: You are now editing individual {{result.id}} <span ng-show="result && result.displayableName">{{result.displayableName}}</span>
  </div>
  <div class="form-group row">
    <div class="col-sm-12 initial" ng-show="isAdmin">
      <button class="btn btn-default" ng-show="result && result.status && result.status !== 'I'" ng-click="deactivateSubmission(result.id);">Deactivate Individual</button>
      <button class="btn btn-danger" ng-show="result && result.status && result.status !== 'A'" ng-click="activateSubmission(result.id);">Activate Individual</button>
      <button class="btn btn-danger pull-right" ng-show="result && result.id && isAdmin" ng-click="deleteIndividual(result.id)">Delete Individual</button>
    </div>
    <div class="col-sm-12 initial" ng-show="result.profilePicture && result.profilePicture.viewlink">
      <a ng-if="result.profilePicture.status === 'A'" ui-sref="individual({id: result.id})" target="_blank"><img ng-src="{{configs.baseURL + result.profilePicture.viewlink}}" alt="Profile Picture" width="auto" height="150" style="border-radius:4px; border: 1px solid darkgray;"></a>
      <a ng-if="result.profilePicture.status === 'I'" tooltip-placement="top" uib-tooltip="This file is still inactive and will not show up as profile picture for this user until it is approved by an admin" ui-sref="individual({id: result.id})" target="_blank"><img ng-src="{{configs.baseURL + result.profilePicture.viewlink}}" alt="Profile Picture" width="auto" height="150" style="border-radius:4px; border: 1px solid darkgray;"></a>
    </div>
    <div ng-show="images" class="profilepicker">
      <img ng-class="{'selected': image.id === result.profile_pic}" ng-repeat="image in images" ng-if="image.status === 'A'" id="displayImage" ng-src="{{configs.baseURL + image.viewlink}}" ng-click="setProfilePic(image)" style="width: auto; height: {{imgHeight}}px; display: inline-block; vertical-align: middle; margin-left: -4px;">
      <img ng-class="{'selected': image.id === result.profile_pic}" ng-repeat="image in images" ng-if="image.status === 'I'" tooltip-placement="top" uib-tooltip="This file is still inactive" id="displayImage" ng-src="{{configs.baseURL + image.viewlink}}" ng-click="setProfilePic(image)" style="width: auto; height: {{imgHeight}}px; display: inline-block; vertical-align: middle; margin-left: -4px;">
    </div>
<!--     <div class="col-sm-12 initial" ng-show="!result.profilePicture || !result.profilePicture.viewlink">
      Upload a profile picture...
      <a ui-sref="individual({id: result.id})" target="_blank" ng-show="result.id">Open their page</a>
    </div> -->
  </div>
  <hr style="margin: 10px 0px;">
  <form name="addAPersonForm" role="form" ng-submit="savePerson()" class="">
    <div class="form-group row">
      <div class="col-sm-12 parent">
        <label for="Name">Name: </label>
        <input style="width: auto; display: inline-block" class="form-control" ng-model="result.firstName" id="Name" placeholder="First Name" required/>
        <input style="width: auto; display: inline-block" class="form-control" ng-model="result.middleName" id="Name" placeholder="Middle Name" />
        <input style="width: auto; display: inline-block" class="form-control" ng-model="result.lastName" id="Name" placeholder="Last Name" required/>
      </div>
      <br style="clear:both">
      <hr style="margin: 10px 0px;">
      <div class="col-sm-6 parent">
        <label for="Birth">Birth: </label>
        <br>
        <datepicker date="result.birthDate" confident="result.birth.yearB" placeholder="Birth Date: " is-required="true"></datepicker>
        </date>
        <placepicker place="result.birth.birthPlace"></placepicker>
      </div>
      <div class="col-sm-6 parent">
        <label for="Death">Death: </label>
        <br>
        <datepicker date="result.deathDate" confident="result.death.yearD" placeholder="Death Date: " is-required="true"></datepicker>
        </date>
        <placepicker place="result.death.deathPlace"></placepicker>
      </div>
      <br style="clear:both">
      <hr style="margin: 10px 0px;">
      <div class="col-sm-6 parent">
        <label for="Burial">Burial: </label>
        <br>
        <datepicker date="result.burialDate" confident="result.burial.yearB" placeholder="Burial Date: " is-required="false"></datepicker>
        </date>
        <placepicker place="result.burial.burialPlace"></placepicker>
      </div>
      <div class="col-sm-2 parent">
        <label for="Parents">Gender:</label>
        <br>
        <br>
        <label for="Parents">Male:
          <input type="radio" ng-model="result.sex" name="gender" value="male" style="width: auto;" id="Parents" placeholder="Parents Stuff" />
        </label>
        <br>
        <label for="Parents">Female:
          <input type="radio" ng-model="result.sex" name="gender" value="female" style="width: auto;" id="Parents" placeholder="Parents Stuff" />
        </label>
      </div>
      <div class="col-sm-4 parent">
        <label for="Spouse">Relationship to Michele or Marvin Law: </label>
        <br>
        <br>
        <input type="text" ng-model="result.relationship" class="form-control" id="relationship" placeholder="Relationship To Michele or Marvin Law" />
      </div>
      <br style="clear:both">
      <hr style="margin: 10px 0px;">
      <div class="col-sm-6 parent">
        <label for="Parents">Parents:</label>
        <br>
        <div ng-repeat="item in result.parentList" style="width:auto; display:inline-block;">
          <span class="btn btn-primary">
                {{item.typeahead}}
                <span class="btn btn-default btn-xs" ng-click="removeParent(item.id)">
                  <i class="fa fa-times"></i>
                </span>
          </span>
        </div>
        <input autocomplete="off" type="text" id="parents" ng-model="parents" typeahead-on-select='onSelectParent($item, $model, $label)' uib-typeahead="individual as individual.typeahead for individual in getTypeahead($viewValue)" class="form-control" placeholder="Parent">
      </div>
      <br style="clear:both">
      <hr style="margin: 10px 0px;">
      <div class="col-sm-6 parent">
        <label for="Spouse">Spouse:</label>
        <br>
        <div ng-repeat="item in result.spouseList" >
          <spouse individual="result.id" ng-model="item" callback="removeSpouse(id)"></spouse>
        </div>
        <input autocomplete="off" type="text" id="spouse" ng-model="spouse" typeahead-on-select='onSelectSpouse($item, $model, $label)' uib-typeahead="individual as individual.typeahead for individual in getTypeahead($viewValue)" class="form-control" placeholder="Spouse">
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
  </form>
</div>
