<div class="asside left hover" ng-mouseover="openInd = true"></div>
<!-- <div class="asside right hover" ng-mouseover="openFam = true"></div> -->
<div ind-data id="" left="openFam" right="openInd" watch="data" style="height: 100%">
  <div style="position: relative; height: 100%;">

    <div class="asside left">
      <div style="position:relative; width: 1000px;">
        <ul id="verticalTabs">
          <li><a href="javascript:void(0);" class="imitateLink" ng-click="cycleNext()">{{getLoc()}}</a>
            <button type="button" title="Individual's Home Page" ng-class="view.trigger === 'default'? 'active':''" class="asside btn left btn-primary leftBtn" ng-click="changeTrigger('default')" style="left:125px; border-radius: 25px 0px 0px 0px;"><i class="fa fa-home" style="position: relative; top: -12px;"></i></button>
            <button type="button" title="Photo Album" ng-class="view.trigger === 'photoAlbum'? 'active':''" class="asside btn left btn-primary middleBtn" ng-click="changeTrigger('photoAlbum')" style="left:175px; border-radius: 0px 0px 0px 0px;"><i class="fa fa-camera" style="position: relative; top: -12px;"></i></button>
            <button type="button" title="Documents" ng-class="view.trigger === 'documents'? 'active':''" class="asside btn left btn-primary rightBtn" ng-click="changeTrigger('documents')" style="left:225px; border-radius: 0px 25px 0px 0px;"><i class="fa fa-file-text-o" style="position: relative; top: -12px;"></i></button>
          </li>
        </ul>
      </div>
    </div>

    <!-- <div class="asside left"><h3 class="left">Individual Menu</h3></div> -->
    <!-- <button class="asside btn left btn-primary" ng-click="openInd = true;" id="individualMenu" ng-mouseover="openInd = true;"><i class="fa fa-arrow-right" style="position: relative; right: -10px;"></i></button> -->
    <!-- <button class="asside btn left btn-primary" ng-click="openInd = true;" id="individualMenu" ng-mouseover="openInd = true;"><i class="fa fa-bars" style="position: relative; right: -10px;"></i></button> -->
    <div class="asside right"><h3 class="right">Family Chart</h3></div>
    <button class="asside btn right btn-primary" ng-click="openFam = true; triggerChartResize()"><i class="fa fa-arrow-left" style="position: relative; left: -10px;"></i></button>
    <!-- <button class="asside btn right btn-primary" ng-click="openFam = true;"  ng-mouseover="openFam = true;"><i class="fa fa-arrow-left" style="position: relative; left: -10px;"></i></button> -->
    <div id="header" style="min-width: 600px; border-bottom: 1px solid darkgray; background: #EEEBE0; position: fixed; top; 52px; width: 100%; z-index: 6;">
      <div breadcrumbs ng-model="links" style="position:relative; z-index: 5;"></div>
      <h2 style="text-align: center; margin-top:5px; margin-bottom: 10px">{{data.displayableName}}</h2>
    </div>
    <div ng-switch="view.trigger" style="position:absolute; top:69px; margin:0px 35px; width: calc(100% - 60px); min-height: calc(100% - 69px); border-left: 1px solid darkgray; border-right:1px solid darkgray;">
      <div ng-switch-when="default">
        <!-- <img ng-repeat="image in $parent.pictures" ng-src="/{{image.viewlink}}" style=" width: 250px; height: auto;">
        <br>
        <pre>
          {{pretty}}
        </pre> -->
        <div style="position: fixed; font-size: 12px; display: inline-block; width: 300px; height: calc(100% - 122px); padding: 5px; overflow-y: auto; overflow-x: hidden; border-right: 1px solid darkgray; " id="indData">
          <div class="text-center">
            <img class="img-rounded" ng-src="{{configs.baseURL + data.profilePicture.link}}" onerror="this.src='http://familyhistorydatabase.org/images/familytree.jpg'" width="290" height="auto">
          </div>
          <div>
            <h3 class="text-center" style="margin-top:10px;">Information</h3>
            <hr class="style-four">
            <div class="container-fluid">
              <div class="row" style="margin-left:0px; margin-right:0px;">
                <div class="col-xs-4" style="padding-left:0px; padding-right:0px;">First Name:</div>
                <div class="col-xs-8" style="padding-left:0px; padding-right:0px;">{{data.firstName}}</div>
                <div ng-if="data.middleName !=='' && data.middleName !== null" class="col-xs-4" style="padding-left:0px; padding-right:0px;">Middle Name:</div>
                <div ng-if="data.middleName !=='' && data.middleName !== null" class="col-xs-8" style="padding-left:0px; padding-right:0px;">{{data.middleName}}</div>
                <div class="col-xs-4" style="padding-left:0px; padding-right:0px;">Last Name:</div>
                <div class="col-xs-8" style="padding-left:0px; padding-right:0px;">{{data.lastName}}</div>
              </div>
            </div>
            <hr class="style-four">
            <div class="container-fluid" ng-show="(data.birth && data.birth.year) || (data.birth && data.birth.place)">
              <div class="row" style="margin-left:0px; margin-right:0px;" ng-show="data.birth && data.birth.year">
                <div class="col-xs-4" style="padding-left:0px; padding-right:0px;">Birth Date:</div>
                <div class="col-xs-8" style="padding-left:0px; padding-right:0px;">{{data.birth.toString()}}</div>
              </div>
              <div class="row" style="margin-left:0px; margin-right:0px;" ng-show="data.birth && data.birth.place">
                <div class="col-xs-4" style="padding-left:0px; padding-right:0px;">Birth Place:</div>
                <div class="col-xs-8" style="padding-left:0px; padding-right:0px;">{{data.birth.getPlace()}}</div>
              </div>
            </div>
            <hr class="style-four">
            <div class="container-fluid" ng-show="(data.death && data.death.year) || (data.death && data.death.place)">
              <div class="row" style="margin-left:0px; margin-right:0px;" ng-show="data.death && data.death.year">
                <div class="col-xs-4" style="padding-left:0px; padding-right:0px;">Death Date:</div>
                <div class="col-xs-8" style="padding-left:0px; padding-right:0px;">{{data.death.toString()}}</div>
              </div>
              <div class="row" style="margin-left:0px; margin-right:0px;" ng-show="data.death && data.death.place">
                <div class="col-xs-4" style="padding-left:0px; padding-right:0px;">Death Place:</div>
                <div class="col-xs-8" style="padding-left:0px; padding-right:0px;">{{data.death.getPlace()}}</div>
              </div>
            </div>
            <hr class="style-four">
            <div class="container-fluid" ng-show="(data.burial && data.burial.year) || (data.burial && data.burial.place)">
              <div class="row" style="margin-left:0px; margin-right:0px;" ng-show="data.burial && data.burial.year">
                <div class="col-xs-4" style="padding-left:0px; padding-right:0px;">Burial Date:</div>
                <div class="col-xs-8" style="padding-left:0px; padding-right:0px;">{{data.burial.toString()}}</div>
              </div>
              <div class="row" style="margin-left:0px; margin-right:0px;" ng-show="data.burial && data.burial.place">
                <div class="col-xs-4" style="padding-left:0px; padding-right:0px;">Burial Place:</div>
                <div class="col-xs-8" style="padding-left:0px; padding-right:0px;">{{data.burial.getPlace()}}</div>
              </div>
            </div>
            <hr ng-show="(data.burial && data.burial.year) || (data.burial && data.burial.place)" class="style-four">
            <div class="container-fluid">
              <div class="row" style="margin-left:0px; margin-right:0px;">
                <div class="col-xs-12" style="padding-left:0px; padding-right:0px;">Relationship to Michele or Marvin Law:</div>
                <div class="col-xs-11 col-xs-offset-1" style="padding-left:0px; padding-right:0px;">{{data.relationship}}</div>
              </div>
            </div>
            <hr class="style-four">
          </div>
        </div>
        <div style="margin-left:300px; padding:5px; height: 300px; overflow-x:scroll; overflow-y:hidden; text-align:center">
          <h2 style="margin: 5px 0px; position: fixed; left: 50%; margin-left: 100px;">Spouses</h2>
          <loader trigger="spouseLoader"></loader>
          <div style="display:inline-block; margin-top:43px;" id="spouseHolder">
            <div style="display:inline-block;" id="spouseHolderInner">
              <div ng-cloak ng-repeat="spouse in spouses" style="display:inline-block; position:relative;">
                <a href="javascript:void(0);" ng-click="setKids(spouse);" ng-mouseover="spouse.displayName = false;" ng-mouseleave="spouse.displayName = true">
                  <img ng-class="$parent.spouse === spouse? 'currentSpouse': 'notCurrentSpouse'; spouse.displayName? '':'topCorners'" ng-src="{{configs.baseURL + spouse.profilePicture.viewlink}}" class="img-rounded" onerror="this.src='http://familyhistorydatabase.org/images/familytree.jpg'" width="auto" height="200" style="margin: 0px 5px;">
                  <div ng-show="spouse.displayName" style="position: absolute; width: calc(100% - 10px); bottom: 0px; text-align: center; background-color: rgba(0, 0, 0, .5); color: white; border-radius: 0px 0px 5px 5px; margin: 0px 5px; padding:3px">{{spouse.displayableName}} ({{spouse.yearBorn}} - {{spouse.yearDead}})</div>
                  <div ng-show="!spouse.displayName" style="position: absolute; width: calc(100% - 10px); bottom: 0px; text-align: center; background-color: rgba(0, 0, 0, .5); color: white; border-radius: 0px 0px 0px 0px; margin: 0px 5px; padding:3px">Show Children</div>
                </a>
                <a ng-show="!spouse.displayName" style="position: absolute; width: calc(100% - 10px); text-align: center; background-color: rgba(102,102,76,.95); color: white; border-radius: 0px 0px 5px 5px; margin: 0px 5px; padding:3px; left:0px; font-size: 11px; line-height: 20px; border:1px solid #333" ng-mouseover="spouse.displayName = false;" ng-mouseleave="spouse.displayName = true" href="#/individual/{{spouse.id}}?tab=default">Go To {{spouse.succinctName}}</a>
              </div>
            </div>
          </div>
        </div>
        <div style="margin-left:300px; padding:5px; text-align:center">
          <loader trigger="childLoader"></loader>
          <h2 ng-show="spouse">Children Of</h2>
          <h3 ng-show="spouse" style="margin-top:10px; font-size: 20px;">{{data.displayableName}} <span style="font-size:15px;">({{data.yearBorn}} - {{data.yearDead}})</span> &amp; {{spouse.displayableName}} <span style="font-size:15px;">({{spouse.yearBorn}} - {{spouse.yearDead}})</span></h3>
          <hr class="style-four">
          <div ng-repeat="child in children track by $index" style="text-align:left; position: relative; display:inline-block; margin-bottom:40px;" ng-mouseover="child.displayName = false;" ng-mouseleave="child.displayName = true">
            <img ng-if="child && child.profilePicture && child.profilePicture.viewLink" ng-class="child.displayName? '':'topCorners'"  ng-src="{{configs.baseURL + child.profilePicture.viewlink}}" class="img-rounded" onerror="this.src='http://familyhistorydatabase.org/images/familytree.jpg'" width="auto" height="200" style="margin: 0px 5px;">
            <img ng-if="!child || !child.profilePicture || !child.profilePicture.viewLink" ng-class="child.displayName? '':'topCorners'"  ng-src="http://familyhistorydatabase.org/images/familytree.jpg" class="img-rounded" onerror="this.src='http://familyhistorydatabase.org/images/familytree.jpg'" width="auto" height="200" style="margin: 0px 5px;">
            <div ng-show="child.displayName" style="position: absolute; width: calc(100% - 10px); bottom: 0px; text-align: center; background-color: rgba(0, 0, 0, .5); color: white; border-radius: 0px 0px 5px 5px; margin: 0px 5px; padding:3px">{{child.displayableName}} ({{child.yearBorn}} - {{child.yearDead}})</div>
            <div ng-show="!child.displayName" style="position: absolute; width: calc(100% - 10px); bottom: 0px; text-align: center; background-color: rgba(0, 0, 0, .5); color: white; border-radius: 0px 0px 0px 0px; margin: 0px 5px; padding:3px">{{child.displayableName}} ({{child.yearBorn}} - {{child.yearDead}})</div>
            <a ng-show="!child.displayName" style="position: absolute; width: calc(100% - 10px); text-align: center; background-color: rgba(102,102,76,.95); color: white; border-radius: 0px 0px 5px 5px; margin: 0px 5px; padding:3px; left:0px; font-size: 11px; line-height: 20px; border:1px solid #333" ng-mouseover="child.displayName = false;" ng-mouseleave="child.displayName = true" href="#/individual/{{child.id}}?tab=default">Go To {{child.succinctName}}</a>
          </div>
        </div>
      </div>
      <div ng-switch-when="photoAlbum">
        <div photoalbum id="$parent.individual"></div>
      </div>
      <div ng-switch-when="documents">
        <div documents id="$parent.individual"></div>
      </div>
    </div>
    <!-- <div style="border-left: 1px solid darkgray; height: calc(100% + 20px); display: block; margin-left: 300px; position: fixed; top: -20px; z-index: -1;">
      &nbsp;
    </div> -->
  </div>
</div>
<!-- ISSUE WITH MULTIPLE ISOLATED SCOPES HERE -->
<!-- <div pageslide="right" ps-open="openFam" ps-other="openInd" ps-custom-top="52px" ps-speed=".25" ps-custom-height="calc(100% - 52px)" ps-size="35" data="data">
  <div class="ng-pageslide-content">
    <family person-id="individual"></family>
  </div>
</div> -->
