<div class="main">
  <div class="jumbotron" style="padding-top: 10px; padding-bottom: 20px;">
    <h1>Family History Database</h1>
  </div>
  <div class="letterHolder">
    <span ng-repeat="item in main.list" style="text-align: center">
        <sliding-thumbnail params="item" callback="main.goTo"></sliding-thumbnail>
      </span>
  </div>
  <div class="col-md-8 col-md-offset-2" style="font-size: 17px; margin-top:20px; background: white; border-radius: 10px; border:1px solid darkgray; padding: 20px; text-align: center ">
    <div class="ribbon-container">
      <div class="ribbon green small"><span>New</span></div>
    </div>
    <p style="padding: 0px 25px;">
      We've now added the ability for verified users to <strong>submit family members!</strong> Just log in and go to the <strong>'My Family'</strong> page from either menu to submit new individuals for our admins to approve. Help our collection grow!
    </p>
    <!-- <img src="/images/new-icon.png" alt="" style="width: 100px; position: absolute; top: -8.5px; right: -8.5px;"> -->
  </div>
  <br>
  <div class="col-md-8 col-md-offset-2" style="font-size: 17px; margin-top:20px; background: white; border-radius: 10px; border:1px solid darkgray; padding: 20px; text-align: center ">
    <div class="ribbon-container">
      <div class="ribbon yellow large"><span>Coming soon</span></div>
    </div>
    <p style="padding: 0px 50px;">
      In the near future we plan to include the ability to <strong>collect your favorites</strong> by watchlisting them for better visibility from your family page and periodic update emails. We will also be adding a <strong>feedback feature</strong> that will allow you to send your thoughts, opinions, and suggestions straight to the site administration for review.
    </p>
    <small style="color:#999"><i>(Note: Most new features will require verified membership. Please register and verify your email to gain access to them.)</i></small>
  </div>
  <br>
  <div class="col-md-8 col-md-offset-2" style="margin-top:20px; background: white; border-radius: 10px; border:1px solid darkgray; padding: 20px; ">
    <div class="ribbon-container">
      <div class="ribbon blue small"><span>Site</span></div>
      <div class="ribbon blue large"><span>Disclaimer</span></div>
    </div>
    <p style="padding:0px 50px;">Dear reader, this is a family collection of stories and photos from many sources. We are always collecting photos and permissions to post new things here if you want to add to this collection. We do need to warn you that while we try very hard not to make mistakes in this collection, it is possible that you will find an error. Use this website at your own risk. We make no guarantees, but if you contact us with evidence, we will fix it here on the website because we want it to be right. Each person has basic information, a photo collection, a document collection, and a photo pedigree chart. Please enjoy learning more about our family! — Michele Law
    </p>
  </div>
</div>